body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #f8f9fa;
    box-shadow: 0 4px 2px -2px gray;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .btn-danger {
    background-color: #ff5733;
    border: none;
  }
  
  .container {
    margin-top: 20px;
  }
  
  .card {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
  }
  
  .card h3, .card h5 {
    color: #333;
  }
  
  .card p {
    color: #666;
  }
  
  